
@font-face {
	font-family: 'iconFont';
	font-display: swap;
	src: url("../../fonts/font-awesome/fonts/fontawesome-webfont.eot");
	src: local("O"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), 
			url("../../fonts/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), 
			url("../../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	font-display: swap;
	src: url("");
	src: local("O"), url("") format("woff"), 
			url("../../fonts/Lato/Lato-Regular.ttf") format("truetype"), 
			url("") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
	src: url("");
	src: local("O"), url("") format("woff"), 
			url("../../fonts/Georgia/georgia.ttf") format("truetype"), 
			url("") format("svg");
	font-weight: normal;
	font-style: normal;
}
