.works {
    padding: 170px 0px 0 0;
    margin-bottom: 262px;
}
.container-works {
    padding: 0 17px;
}
.works-upper {
    &__grid {
        display: grid;
        grid-template-areas:
            "header header"
            "contentL contentR";
        margin-bottom: 47px;
        column-gap: 153px;
    }

    &__preheader {
        grid-area: header;
    }

    &__title-h2 {
        grid-area: contentL;
        width: 564px;
        letter-spacing: 3.5px;
        transform: translate(2px, -3px);
    }
    &__txt {
        letter-spacing: 0.1px;
        margin-top: 30px;
        transform: translate(1px, -10px);
    }
}

.works-down {
    &__flex {
        display: flex;
        gap: 97px;
        align-items: flex-end;
    }
}
.card {
    position: relative;
    width: 390px;
    height: 937px;
    &__namber {
        color: rgba(1, 153, 109, 0.2);
        font-family: Georgia;
        font-size: 150px;
        font-weight: 400;
        line-height: 150%;
    }
    &__title-h3 {
        color: rgb(0, 0, 0);
        font-family: Georgia;
        font-size: 30px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 3px;
    }
    &__txt {
        margin-bottom: 29px;
    }
    &__img {
        width: 390px;
        height: 492px;
    }

    &__img-d {
        width: 185px;
        height: 148px;
        border-radius: 2% 0% 0% 2%;
        position: absolute;
        bottom: 116px;
        right: -3px;
    }
}
.card1 {
    transform: translate(0px, 0px);
    &__title-h3 {
        transform: translate(84px, -87px);
    }
    &__txt {
        transform: translate(-3px, -34px);
        letter-spacing: 0.1px;
    }
    &__img {
        transform: translate(0px, 0px);
    }
}
.card2 {
    transform: translate(-3px, 286px);
    &__title-h3 {
        transform: translate(83px, -84px);
        letter-spacing: 2px;
    }
    &__txt {
        transform: translate(-1px, -31px);
    }
    &__img {
        transform: translate(0px, -22px);
    }
}
.card3 {
    transform: translate(5px, 55px);
    &__title-h3 {
        transform: translate(121px, -87px);
    }
    &__txt {
        transform: translate(-8px, -44px);
        letter-spacing: 0.1px;
        width: 437px;
    }
    &__img {
        transform: translate(-4px, -22px);
    }
}

/*Let’s get started*/
.story {
    background: var(--buttonBackground);
    padding: 225px 0 0 0;
    &__title-h2 {
        color: rgb(255, 255, 255);
    }
}

.story-flex {
    display: flex;
    align-items: center;
}
.story-txt {
      border: 1px solid red;
      transform: translate(-46px, -68px);
      width: 580px;
    .title-h2 {
        width: 580px;
        
    }
    .txt {
        
    }
    .stroy {
        &__title-txt {
            color: rgb(255, 255, 255);
            width: 580px;
            
        }
    }
}
.button {
}
.stry {
    &__button {
    }
}
.story-video {
    width: 895.84px;
    height: 516.11px;
    border: solid 1px;
    border: 1px solid red;
}
