.works {
    padding: 170px 0px 0 0;
    margin-bottom: 262px;
}
.container-works {
    padding: 0 17px;
}
.works-upper {
    &__grid {
        display: grid;
        grid-template-areas:
            "header header"
            "contentL contentR";
        margin-bottom: 47px;
        column-gap: 153px;
    }

    &__preheader {
        grid-area: header;
    }

    &__title-h2 {
        grid-area: contentL;
        width: 564px;
        letter-spacing: 3.5px;
        transform: translate(2px, -3px);
    }
    &__txt {
        letter-spacing: 0.1px;
        margin-top: 30px;
        transform: translate(1px, -10px);
    }
}

.works-down {
    &__flex {
        display: flex;
        gap: 97px;
        align-items: flex-end;
    }
}
.card {
    position: relative;
    width: 390px;
    height: 937px;
    &__namber {
        color: rgba(1, 153, 109, 0.2);
        font-family: Georgia;
        font-size: 150px;
        font-weight: 400;
        line-height: 150%;
    }
    &__title-h3 {
        color: rgb(0, 0, 0);
        font-family: Georgia;
        font-size: 30px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 3px;
    }
    &__txt {
        margin-bottom: 29px;
    }
    &__img {
        width: 390px;
        height: 492px;
    }

    &__img-d {
        width: 185px;
        height: 148px;
        border-radius: 2% 0% 0% 2%;
        position: absolute;
        bottom: 116px;
        right: -3px;
    }
}
.card1 {
    transform: translate(0px, 0px);
    &__title-h3 {
        transform: translate(84px, -87px);
    }
    &__txt {
        transform: translate(-3px, -34px);
        letter-spacing: 0.1px;
    }
    &__img {
        transform: translate(0px, 0px);
    }
}
.card2 {
    transform: translate(-3px, 286px);
    &__title-h3 {
        transform: translate(83px, -84px);
        letter-spacing: 2px;
    }
    &__txt {
        transform: translate(-1px, -31px);
    }
    &__img {
        transform: translate(0px, -22px);
    }
}
.card3 {
    transform: translate(5px, 55px);
    &__title-h3 {
        transform: translate(121px, -87px);
    }
    &__txt {
        transform: translate(-8px, -44px);
        letter-spacing: 0.1px;
        width: 437px;
    }
    &__img {
        transform: translate(-4px, -22px);
    }
}

/*story*/
.story {
    background: var(--blockGreen);
    padding: 229px 0 176px 0;
    &__title-h2 {
        color: rgb(255, 255, 255);
    }

    &__title-txt {
        color: rgb(255, 255, 255);
    }

    &__button {
        padding: 20px 50px;
        width: 240px;
        height: 65px;
    }
}
.container {
}
.story-flex {
    display: flex;
    align-items: center;
}
.story-txt {
    width: 500px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.title-h2 {
}
.txt {
}
.button {
}
.story-video {
    border-radius: 16.33px;
    background: rgba(0, 0, 0, 0.2);
    width: 895.84px;
    height: 516.11px;
}

.story-video {
    position: relative;
}
.play {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__range {
        border-radius: 50%;
        border: solid white 4px;
        width: 80.85px;
        height: 80.85px;
        display: flex;
        align-items: center;
        padding-left: 26px;
    }
}
/*Our_product*/
.product {
    padding: 120px 0 242px 0;
}
.container {
}
.product-flex {
    display: flex;
    gap: 90px;
    position: relative;
}
.product-wrapper {
    border-radius: 18.11px;
    background: rgba(1, 153, 109, 0.2);
    width: 638px;
    height: 573px;
    position: relative;
    margin-right: px;
    &__img {
        position: absolute;
        top: -66px;
        left: 97px;
    }
}
.product-text {
    width: 500px;
    height: 413px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    &__preheader {
    }

    &__h2 {
    }

    &__txt {
    }

    &__button {
        width: 227px;
        height: 65px;
        padding: 20px 50px;
    }
    .product-visa {
    }
}
.product-visa {
    position: absolute;
    &__card {
        width: 69.73px;
        height: 104.15px;
        background: url(/img/product_woman.svg)no-repeat;

    }
    &__img {
        
    }
    &__title {
    }

    &__line {
    }

    &__range {
    }
}
