.works {
    padding: 170px 0px 0 0;
}
.container-works {
    padding: 0 17px;
}
.works-Upper {
    &__grid {
        display: grid;
        grid-template-areas: 'header header' 
        'contentL contentR';
        
    }

    &__preheader {
        grid-area: header;
        border: solid 1px red;
    }

    &__title-h2 {
        grid-area: contentL;
        width: 564px;
        border: solid 1px red;
        margin-right: 150px;
        letter-spacing: 3.5px;
    }

    &__txt {
        padding-top: 19px;
        width: 671px;
        grid-area: contentR;
        border: solid 1px red;
        letter-spacing: 1px;
    }
}
.preheader {
}
.title-h2 {
}
.txt {
}
.works-down {
}
.card {
    &__namber {
    }

    &__txt {
    }
}
